<!DOCTYPE html>
<html lang="pt-br">

    <%- include("../components/head", { title: "Principal" }); %>
    <%- include("../components/authToken", { type: 2 }) %>

<body>
    <%- include("../components/header"); %>

    <%- include("../components/buttons", { type: typeUser }); %>

    <div class="center">
        <h2>Dívidas</h2>
    </div>

    <p>
    Organizar as dívidas de uma agropecuária.
    </p>

    <%- include("../components/message"); %>

    <%- include("../components/table"); %>
</body>

<%- include("../components/scripts"); %>

<script>
    const table = document.getElementById("table");
    const search = document.getElementById("search");
    
    async function init() {
        const head = {
            client: "Cliente",
            value: "Valor",
            date: "Data",
            hour: "Hora",
            details: "Detalhes do cliente"
        };

        const response = await apiDebts.list();

        console.log(response);

        if (emptyTable(response)) {
            return;
        }

        const text = createTable(response, head);

        table.innerHTML = text;
        search.style.display = "block";
    }

    init();
</script>

</html>
